table {
  border: black 1px solid;
  font-size: 16px;
  /* width: 200px; */
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: lightseagreen;
  padding: 10px;
  border: black 1px solid;
  color: #fff;
}

td {
  border: black 1px solid;
  padding: 5px;
}

/* pagination */
.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4caf50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
