table {
  border: black 1px solid;
  font-size: 16px;
  width: 200px;
  text-align: center;
  border-collapse: collapse;
}

th {
  background-color: lightseagreen;
  padding: 10px;
  border: black 1px solid;
  color: #fff;
}

td {
  border: black 1px solid;
  padding: 5px;
}
